odm/etc/fad/license.lic
odm/etc/camera/model/license.lic
odm/etc/camera/sensetime
odm/etc/camera/license_release_fdc.lic
my_stock.img
my_preload.img
my_bigball.img
my_heytap.img
my_product.img
system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/SystemUI/SystemUI.apk
system_ext/priv-app/Settings/Settings.apk
super.img
recovery.img
